@import 'bootstrap/dist/css/bootstrap.min.css';

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.img{
    width: 400px;
    height: 400px;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.correo{
    width: 600px;
}

.descripcion{
    width: 600px;
}

.cuadroDescripcion{
    height: 100px;
}